body {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 5%;
}

#layout {
    display: inline-block;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 5px 10px 5px 10px;
}

.input_style {
    color: green;
    float: right;
    padding-left: 5px;
}

.header {
    color: red
}